
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1 {
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: #e44f16;
}

.btn-primary {
    background-color: #e44f16 !important;
    border-color: #e44f16 !important;
}


/* Menu */

    #header-bar {
        background-color: #19223D;
        height: 100px;
        width: 100%;
        padding-top: 35px;
        text-align: center;

    }

    .menu-btn{
        color:#FFF;
        background:rgba(0, 0, 0, 0.5);
        padding:10px 20px;
        font-size:12px;
        text-decoration:none !important;
        letter-spacing:2px;
        text-transform:uppercase;
    }

    .menu-btn:hover{
        border:none;
        background:rgba(0, 0, 0, 0.4);
        background:#fff;
        padding:20px 20px;
        color:#1b1b1b;
        font-weight: bold;
    }


/* Map */

    .map {
        overflow: hidden;
        margin: 3% 6%;
        display: flex;
        gap: 10px;
        justify-content: center;
    }

        .map-text {
            width: 30%;
            margin-top: 3%;
            float: left;
        }

            .map-text a {
                color: #19223D;
                text-decoration: none;
                transition: color 0.3s;
            }

                .map-text a.is-active {
                    color: #E44F16 !important;
                    text-decoration: underline;
                    font-weight: bold;
                }

        .map-image {
            width: 45%;
            float: left;
        }

        @media only screen and (max-width : 1400px){

            .map {
                margin: 5% 6%;
            }

            .map-image {
                width: 50%;
            }
        }

        @media only screen and (max-width : 1200px){

            .map-image {
                width: 65%;
            }
        }

        @media only screen and (max-width : 1000px){

            .map {
                margin: 5% 6%;
            }

            .map-image {
                width: 70%;
            }
        }

        @media only screen and (max-width : 850px){

            .map {
                flex-direction: column;
            }

            .map-text, .map-image {
                width: 100%;
            }
        }

        .map-image ellipse {
                cursor: pointer;
                transition: fill 0.3s;
            }

                /*.map-image ellipse:hover {*/
                /*    fill: #FFF !important;*/
                /*    transition: fill 0.3s;*/
                /*}*/

                .map-image a.is-active ellipse {
                    fill: #FFF !important;
                    transition: fill 0.3s;
                }


            .cities-name {
                color: #FFF;
                font-size: 17px;
            }

                #angers-city-name {
                    position: relative;
                    bottom: 585px;
                    left: 236px;
                }

                #brest-city-name {
                    position: relative;
                    bottom: 585px;
                    left: 236px;
                }

                #bordeaux-city-name {
                    position: relative;
                    bottom: 585px;
                    left: 236px;
                }

                #caen-city-name {
                    position: relative;
                    bottom: 585px;
                    left: 236px;
                }

                #cholet-city-name {
                    position: relative;
                    bottom: 585px;
                    left: 236px;
                }

                #le-mans-city-name {
                    position: relative;
                    bottom: 585px;
                    left: 236px;
                }

                #nantes-city-name {
                    position: relative;
                    bottom: 585px;
                    left: 236px;
                }

                #sables-olonne-city-name {
                    position: relative;
                    bottom: 585px;
                    left: 236px;
                }

                #poitiers-city-name {
                    position: relative;
                    bottom: 585px;
                    left: 236px;
                }

                #rennes-city-name {
                    position: relative;
                    bottom: 585px;
                    left: 236px;
                }

                #royan-city-name {
                    position: relative;
                    bottom: 585px;
                    left: 236px;
                }

                #tours-city-name {
                    position: relative;
                    bottom: 585px;
                    left: 236px;
                }

                /*  Zone pour effacer les regions
                  (ajouter les identifiants des régions ici) */

                #FR-HDF, #FR-GES, #FR-ARA, #FR-BFC, #FR-IDF, #FR-OCC, #FR-PAC {
                    fill: #19223d1f !important;
                }

                /*  Zone pour effacer les regions
                  (ajouter les identifiants des régions ici) */

                #FR-COR {
                    display: none;
                }


    /* Modal villes */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 15%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    /* contenu du modal */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: solid #19223d;
        border-radius: 15px;
        width: 30%;
    }

    /* bouton close */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }



    #calendar {
        width: 100%;
        margin: 0 auto;
    }

    body a {
        color: #19223D;
    }

    body a:hover {
        color: #00134d;
        cursor: pointer;
    }


/* FullCalendar */

    .fc {
        padding : 2%;
        border: 1px solid #dbdbdb;
        border-radius: 5px;
    }

    .fc thead {
        color: #FFF !important;
        background-color: #19223d !important;
    }

    .fc .fc-toolbar-chunk {
        margin: 5px 0 0 0;
    }

    .fc .fc-toolbar-title {
        margin: 10px 0 0 0 !important;
        padding: 10px;
        text-transform: capitalize;
    }

    .fc .fc-button-active {
        background-color: rgb(110, 60, 50);
    }

    .fc .fc-button-primary {

        background-color: #E44F16;

    }

    .fc .fc-col-header-cell-cushion {
        text-decoration: none;
    }


    .fc .fc-day-today {
        background-color: #000a2729 !important;
    }


    /* Filtres */

    .filters-menu {
        margin: 20px 0 50px;
        text-align : center;
    }

    #filters h2 {
        font-size: 20px;
    }

    #filters .filters-title {
        margin: 30px 0 20px;
        text-decoration: underline;
    }

    #filters-cards {
        margin-bottom: 20%;
    }

    #filters #card-title:before {
        content: "\"";
    }

    #filters #card-title:after {
        content: "\"";
    }

    .filters-list {
        display: block;
        position: sticky;
        top: 20px;
    }

    #search {
        margin-bottom: 20px;
    }

    #cities {
        margin-bottom: 30px;
    }

    #filters-btn {
        margin-bottom: 50px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }



