{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}

    <div>
        <h1>Filtrer</h1>
    </div>

    <a href="{{ path('home_index') }}">Retour aux dates clés</a>


{% endblock %}
