
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ event.title }}</h2>
            <p class="card-title">
                {{ event.start ? event.start|date|format_date('full', locale='fr') }}
            </p>
            <p class="card-title">
                {{ event.start ? event.start|date|format_datetime('none', 'short', locale='fr')}}
            </p>
        </div>
    </div>

