<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("style/main-style.css") }}">
        <link rel="stylesheet" href="{{ asset("style/bootstrap-flatly.css") }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>

        </header>
        <main class="container">
            <div class="row align-center">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>


